<li class="comment">
  <div class="comment-avatar" style="background-image: url(<%= cl_image_path comment.user.avatar, secure: true;  %>)"></div>
 <p class="comment-text"><%= comment.comment_text %></p>
 <p class="comment-date"><%= time_ago_in_words(comment.created_at) %> ago</p>
</li>
