<li class="comment">
  <div class="comment-avatar" style="background-image: url(<%= comment.user.avatar  %>)"></div>
 <p class="comment-text"><%= comment.comment_text %></p>
 <p class="comment-date">at <%= comment.created_at.strftime('%b %e, %l:%M %p') %></p>
</li>
