// Define variables for your color scheme

// For example:
// $red: #EE5F5B;
// $blue: #469AE0;
//$yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;

// Our colors:
$green: #037672;
$purple: #890296;
$red: #d42929;
$blue: #2827d7;
$orange: #E67E22;
$yellow: #eeaa00;

$gray: #000000;
$light-gray: #F4F4F4;
$offwhite: #f5f5f5; 
$matteblack: #1A1B1F;
