// Define variables for your color scheme

// Default fallback colors:
// $red: #EE5F5B;
//$yellow: #FDB631;
$blue: #469AE0;
$orange: #DA552F;
$green: #32B796;
$gray: #000000;
$light-gray: #ffffff;

// Our colors:
// https://colorhunt.co/palette/124846

$offwhite: #f7f7f7;
$dark-gray: #6c8089;
$medium-gray: #5c636e;
$yellow: #f8b500;
$red: #f34949;
