// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Vollkorn:100,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre:100,400,500,600,700');

// Define fonts for body and headers
$body-font: "Proza Libre", "sans-serif";
$headers-font: 'Vollkorn', 'serif';
