<p>Hi <%= @recipient.artist_name %>,</p>

<p>You got a contribution of <%= @amount / 100 %> euros from <%= @donor.email %>!</p>
<p></p>
<p>This was the attached message:</p>
<p><%= @message %></p>

<p>Best,</p>
<p>The StreetBusk Team</p>