.form-control {
  margin-left: 15px;
  height: 39px;
  width: 90%;
  font-size: 15px;
  border-radius: 5px;
}

.btn-home {
  background-color: #E67E40;
  border-radius: 5px;
  height: 55px;
  padding: 14px;
  font-size: 20px;
}

.search-icon-home {
  background-color: transparent;
  padding: 7px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #da552f;
  height: 39px;
}

.search-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
