.form-control {
  margin-left: 15px;
  height: 39px;
  width: 90%;
  font-size: 15px;
  border-radius: 5px;
}

.btn-home {
  background-color: #E67E40;
  border-radius: 5px;
  font-size: 16px;
  margin-left: -10px;
}
