.performance-show{
  position: relative;
  .italic{
    font-style: italic;
    font-size: 16px;
  }
  .performance-avatar{
    margin: 0px auto 20px auto;
    height: 130px;
    width: 130px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    // box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.6);
  }
  .artist-avatar{
    position: absolute;
    left: 50%;
    margin-right: 20px;
    transform: translate(-50%, -50%);
  }

  .flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px 5% 20px;
    p{
      margin: 0;
    }
  }

  .performances-back{
    &:hover{
      text-decoration:none;
    }
  }
  .performance-back{
    display: block;
    font-size: 32px;
    // position: absolute;
    // left: 5%;
    // top: 20px;
    color: black;
  }

  .performance-photo-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 65vh;
  }
  .overlay{

    width: 100%;
    z-index: 1;
    position: absolute;
    height: 20vh;
    top: 45vh;
    background: rgba(255,255,255, 0.5);
    background: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 0.5), rgba(255,255,255, 0.5), rgba(255,255,255, 0.7), rgba(255,255,255, 0.7), rgba(255,255,255, 0.8));
    padding-top: 20px;
    h2{
      margin: 10px 0;
    }
  }
  h3{
    display: inline-block;
  }
  .attending-header-container{
    display: block;
    margin-top: 30px;
    h4{
      margin: 0 0 10px 0;
    }
    p{
      color:red;
      font-style: italic;
      font-size: 12px;
      display: inline-block;
    }
  }

  #contribute-button{
    color: white;
    background-color: $orange;
  }


  .performance-photo-cont{
    position: relative;

    margin-top: 20px;
    @media(max-width: 600px){
    }
    h2{
      margin-top: 0px;
    }
    img{
      height: 35vh;
      width: auto;
      @media (max-width: 600px){
        height: auto;
        width: 100%;
      }
    }
    ul{
      margin-left: 0px;
      padding: 0;
    }

    i{
      width: 30px;
    }
  }



  .attendance{
    min-height: 50px;
    p{
      display:inline-block;
    }
    li{
      list-style: none;
      display: inline-block;
      height: 35px;
      width: 35px;
      background-position: center center;
      background-size: cover;
      border-radius: 50%;
    }
  }

}

.performance-other-amount{
  #contribution_amount{
    display: none;
  }
  .show-contribution_amount{
    display: block !important;
  }
  opacity: 0;
  max-height: 0;
  transition: all 0.4s ease;
}
.show-other-amount{
  margin-top: 15px;
  opacity: 1 !important;
  max-height: 150px;
}
