.performance-show{
  position: relative;
  .italic{
    font-style: italic;
    font-size: 16px;
  }

  .artist-overlay-card{
  //  display: flex;
    width: 66vh;
    max-width: 100vw;
    margin-bottom: 20px;

    @media (max-width:600px){
      right: 0;
    }
    .artist-header-p-card{
      width: 50%;
      padding-left: 10px;
      shape-outside: circle(50%);
    }
  }

  .flex{
    display: flex;
    justify-content: center;
  }
  .performance-avatar{
    height: 15vw;
    min-height: 50px;
    width: 15vw;
    min-width: 50px;
    max-width: 120px;
    max-height: 120px;
    display: inline-block;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    margin-right:2rem;
    -webkit-shape-outside:circle();
    shape-outside:circle();
    float: left;
  }
  .artist-avatar{
    width: 50%;
    shape-outside: circle(50%);

  }

  .artist-performance-desc{
    display: flex;
    flex-flow: column;
    justify-content: center;
  }


  .flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px 5% 0px;
    p{
      margin: 0;
    }
  }

  .performances-back{
    &:hover{
      text-decoration:none;
    }
  }
  .performance-back{
    display: block;
    font-size: 32px;
    // position: absolute;
    // left: 5%;
    // top: 20px;
    color: black;
  }

  .performance-photo-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 40vw;
  }
  .overlay{

    width: 100%;
    z-index: 1;
    position: absolute;
    height: 25vh;
    top: 45vh;
    background: rgba(255,255,255, 0.5);
    background: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 0.3), rgba(255,255,255, 0.5), rgba(255,255,255, 0.7), rgba(255,255,255, 0.8), rgba(255,255,255, 0.9));
    padding-top: 20px;
    h2{
      margin: 0;
      font-size: 24px;
      margin: 0px 10px 10px 10px;
    }
    p{
      overflow-wrap: break-word;
      margin: 0px 10px 10px 10px;
    }
  }
  h3{
    display: inline-block;
  }
  .attending-header-container{
    display: block;
    margin-top: 30px;
    h4{
      margin: 0 0 10px 0;
    }
    p{
      color:red;
      font-style: italic;
      font-size: 12px;
      display: inline-block;
    }
  }

  #contribute-button{
    color: white;
    //background-color: $orange;
  }


  .performance-photo-cont{
    position: relative;

    margin-top: 30px;
    @media(max-width: 600px){
    }
    h2{
      margin-top: 0px;
    }
    img{
      height: 35vh;
      width: auto;
      @media (max-width: 600px){
        height: auto;
        width: 100%;
      }
    }
    ul{
      margin-left: 0px;
      padding: 0;
    }

    i{
      width: 30px;
    }
  }



  .attendance{
    min-height: 50px;
    p{
      display:inline-block;
    }
    li{
      list-style: none;
      display: inline-block;
      height: 35px;
      width: 35px;
      background-position: center center;
      background-size: cover;
      border-radius: 50%;
    }
  }

}

.performance-other-amount{
  #contribution_amount{
    display: none;
  }
  .show-contribution_amount{
    display: block !important;
  }
  opacity: 0;
  max-height: 0;
  transition: all 0.4s ease;
}
.show-other-amount{
  margin-top: 15px;
  opacity: 1 !important;
  max-height: 150px;
}

.contribute_options{
  width: 30%;
  padding: 5px;
  background: rgba(255,255,255,0.7);
}
