.performance-show{
  position: relative;
  .italic{
    font-style: italic;
    margin-bottom: 5px;
    margin-left: 2rem;
    text-align: left !important;
    @media(max-width: 340px){
      margin-left: 0px;
    }
  }

  img{
    height: 35vh;
    width: auto;
    @media (max-width: 600px){
      height: auto;
      width: 100%;
    }
  }

  p, li{
    font-size: 17px;
    padding: 4px;
    @media(max-width: 320px){
      font-size: 16px;
    }
    // @media(max-width: 620px){
    //   font-size: 14px;
    // }
    // @media(max-width: 400px){
    //   font-size: 14px;
    // }
  }
  ul{
    margin-left: 0px;
    padding: 0;
  }

  .performance-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //margin-left: calc(10vw + 2rem);
    margin: 5px 10px;

    @media(max-width: 340px){
      margin-left: 0px;
    }

  }

  i{
    width: 30px;
    text-align: center;
    //color: coral;
  }
  .artist-overlay-card{
  //  display: flex;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  color: white;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);

  p{
    font-weight: 100 !important;
    font-size: 17px;
  }

  @media(orientation: portrait) and (min-width: 1000px){
    transform: translate(-50%, 0%);
  }
    width: 66vh;
    min-width: 66vw;
    padding: 0px 10px;
    max-width: 100vw;
    margin-bottom: 20px;

    @media (max-width:600px){
      right: 0;
    }
    .artist-header-p-card{
      width: 50%;
      padding-left: 10px;
    }
    li{
      text-align: left;
      padding: 2px;
    }
  }

  .flex{
    display: flex;
    justify-content: center;
  }

  .performance-avatar{
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 15px;
    height: 10vw;
    min-height: 50px;
    width: 10vw;
    min-width: 50px;
    max-width: 120px;
    max-height: 120px;
    display: inline-block;
    box-shadow: 1px 1px 1px 0px rgba(199, 199, 199, 0.76);
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    //margin: 1rem 2rem;
    flex-basis: 10vw;
    flex-shrink: 0;

  }

  .flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // margin: 20px 0px 5% 0px;
    p{
      margin: 0;
    }
  }

  .performance-photo-bg{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: calc(55vh - 30px);
    min-height: 52vh;
    z-index: 1;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    color: white;

  }


  h3{
    display: inline-block;
  }

  .no-attend{
  }
  .attending-error-container{
    display: block;
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: 20px;
    font-size: 14px;
    transform: translate(-50%, 200%);
    p{
      color:red;
      font-style: italic;
      font-size: 12px;
      display: inline-block;
    }
  }

  #new_attendance{
    height: auto;
    position: relative;
    top: 12px;
    margin-left: 10px;
    button{
      background-color: rgba(255,255,255,0);
      border: none;
      color: white;
      position: relative;
      transform: translateY(-30%);
      padding-bottom: 20px;
      &:focus{
        border: none;
      }
  }
}

  #contribute-button{
    color: white;
    padding: 10px;
    width: 100%;
    //position: relative;
    //top: -57px;
    //background-color: $orange;
  }


  .attendance{
    position: absolute;
    bottom: 25px;
    left: 50%;
    bottom: -3px;
    bottom: -17px;
    transform: translate(-50%, 50%);
    margin: 0px;
    display: flex;
    @media (max-width: 500px){
      width: 100%;
      left: 0%;
      display:flex;
      justify-content: center;
      transform: translate(0%, 50%);
    }
    p{
      display:inline-block;
    }
    li{
      display: inline-block;
      list-style: none;
    }
    .attend-item{
      background-position: center center;
      background-size: cover;
      border-radius: 50%;
      display:flex;
    }
    .attend-overlap{
      box-shadow: 0px 5px 20px 4px rgba(0,0,0,0.5);
      margin-right: -25px;
      height: 65px;
      width: 65px;
    }
  }

  .attending-text{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 500;
  }
}

.comments{
  .comment-date {
    font-size: 10px;
  }
  h3 {
    margin-top: 0;
  }
  textarea {
    border-radius: 0;
    margin: 0;
    width: 100%;
  }
  button {
    border: 0;
    padding: 0;
    background: rgba(255,255,255,0);
  }
  margin-bottom: 70px;
   .comment-avatar{
     height: 45px;
     width: 45px;
     background-position: center center;
     background-size: cover;
     border-radius: 50%;
     flex-basis: 45px;
     flex-shrink: 0;
   }

   .comment{
     display:flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid rgba(108, 128, 137, 0.6);
     padding: 10px;
     &:first-child{
       border-top: 1px solid rgba(108, 128, 137, 0.6);
     }
     p{
       margin: 0px 10px;

     }
   }

  .comment-text{
    flex-grow: 1;
    margin-right: 5px;
  }

  .comment-date{
    flex-basis: 70px;
    flex-shrink: 0;
    margin-left: 0;
  }

}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items:center;
  //max-height: 0px;
  form{
  //    max-height: 0px;
  }
  .inline{
  display: inline-block;
  //max-height: 0px;
   width:100%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  }
}


#contribution_amount_1,
#contribution_amount_2,
#contribution_amount_5,
#contribution_amount_10{
  visibility: hidden;
  display: none;
}

label {
    cursor: pointer;
}
input:checked + label {
    color: orange;
}

.contribute-active{
  background-color: #e5e5e5;
}
