.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  display: inline-block;
}

.search-wrapper{
  width: 100vh;
}

.search-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 45px 0px;
}
