.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  display: inline-block;
}

.search-bar{
  margin-top: 20px;
  max-width: 50%;
}

.artist-performance-desc{
  vertical-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
