.profile-banner {
  height: 40vw;
  min-height: 40vh;
  width: 100%;
  background-size: cover;

}

.profile-artist-name {
  text-align: center;
}

.media-container {
  background-color: whitesmoke;
}

.flex-align-center{
  display: flex;
  align-items: center;
}
