
<br/>
<div align="center" class="socialbtns">
<ul>
  <li><a href="#" class="fab fa-facebook-square"></a></li>
<li><a href="#" class="fas fa-walking"></a><p class="icon-text">I go</p></li>
<li><a href="#" class="fab fa-youtube"></a></li>
<li><a href="#" class="fab fa-instagram"></a></li>
<li><a href="#" class="fas fa-search"></a></li>

<li><a href="#" class="fas fa-plus"></a><p class="icon-text">Attend</p></li>
<li><a href="#" class="fas fa-hand-holding-usd"></a><p class="icon-text">Contribute</p></li>
</ul>
</div>
