<div class="search">

      <div class="search-bar">
        <div class="search-icon">
          <i class="fa fa-search"></i>
        </div>
        <div class="search-field">
         <%= form_tag performances_path, method: :get do %>
         <%= text_field_tag :query,
         params[:query],
         class: "form-text",
          placeholder: "Search by city..."
          %>
          <% end %>
        </div>
      </div>

  </div>
