<div class="banner-half-page">
  <%= image_tag 'thank_you.jpeg' %>
</div>

<div class="container half-page">
  <div class="confirmation-box">
    <i class="far fa-check-square icon-size-increase icon-orange"></i>
    <h3 id='thanks'>Your payment went through!</h3>
  </div>

  <p>Special thanks from <strong> <%= @contribution.artist.artist_name %> </strong> who has just received your contribution of <strong> <%= humanized_money_with_symbol(@contribution.amount) %> </strong>.</p>

  <div class="message">
    <p>We from StreetBusk </p>
    <p class='team'> - StreetBusk Team</p>
  </div>
  <div class="move">
    <%= link_to 'Keep Exploring', performances_path, class: 'btn btn-primary contribution' %>
  </div>
</div>

