<div class="container">

  <h1 id='thanks'>Thanks!</h1>
  <div class="message">
    <p>On behalf of artists everywhere, thank you for your contribution</p>
    <p class='team'> - StreetBusk Team</p>
  </div>
  <div class="move">
    <%= link_to 'Back to Performances', performances_path, class: 'btn btn-primary contribution' %>
  </div>
</div>

