.banner {
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-position: center;
  height: 100vh;
}

.banner-content {
  position: relative;
  bottom: -170px;
  left: -10px;
}
