.banner {
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-position: center;
  height: calc(100vh - 60px);
  background-color: rgba(0,0,0,0);
}

.banner-two, {
  position: absolute;
  height: calc(100vh - 60px);
  width: 100%;
  z-index: -1;
  background-color: #0c0600;
  background-position: center;
  background-size: cover !important;
}
.banner-three{
  height: calc(100vh - 60px);
  width: 100%;
  z-index: -2;
  background-color: #0c0600;
  position: absolute;

}

.home-wrapper{
  position: relative;
}

.banner-content-home {
  position: relative;
  font-size: 19px;
  left: 0px;
  top: 20px;
  color: white;
  text-align: left;
  margin-left: 33px;
  @media(min-width: 420px){
    text-align: center;
    margin:auto;
  }
}

.banner-content-home h1 {
  font-size: 50px;
}

.banner-content-home  h1, .banner-content-home p {
  text-shadow: 1px 1px black;
}



.banner-half-page{
  background-size: cover !important;
  background-position: center;
  height: 35vh;
}

.banner-font{
  font-weight: lighter;
  text-shadow: 1px 1px #000000;
  margin-top: -3px;
  color: white;
}

.avatar-on-banner{
  box-shadow: 1px 1px 1px 0px rgba(199, 199, 199, 0.76);
  height: 20vw;
  min-height: 50px;
  width: 20vw;
  min-width: 50px;
  max-width: 120px;
  max-height: 120px;
  display: inline-block;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  margin-right:2rem;
  flex-basis: 10vw;
  flex-shrink: 0;
  opacity: 0.8;
}

.banner-content{
  margin-left: 0px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  color: white;
}
