.link-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #999999;
  box-shadow: 0px -5px 25px rgba(0,0,0,0.15);
  position: fixed;
  width:100%;
  bottom: 0;
  height: 60px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #383737;
  transition: all 0.3s ease;
  z-index: 100000;
}

.link-box a{
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: white !important;
  font-size: 12px !important;
  line-height: 22px !important;
}

.link-box a:hover{
  color: #da552f !important;
  text-decoration: none;
}

.icon-box{
  width: 80px;
  text-align: center;
}

.footer-icon:hover{
  color: #da552f
}
