.icon-text {
  font-size: 12px;
  padding: 5px;
  color: white;
  margin: 0 10px;
  vertical-align: center;
  position: relative;
  top: -17px;
  left: -79px;
}

a, a:hover {
  text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  // padding: 5px;
}

.socialbtns li {
  list-style: none outside none;
  display: inline-block;
}

.socialbtns .fasa, .fab{
  width: 45px;
  height: 45px;
  color: #6c8089;
  background-color: #FFF;
  border: 1px solid rgba(255,255,255,0.5);
  padding-top: 14px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 22px;
  transition: all 0.8s ease;
}

.socialbtns .fasc{
  width: 110px;
  height: 40px;
  color: #6c8089;
  background-color: #FFF;
  border: 1px solid rgba(255,255,255,0.5);
  padding-top: 7px;
  padding-left: 73px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 5px;
  -o-border-radius: 22px;
  transition: all 0.8s ease;
}

.socialbtns .fas:hover, .fasa:hover, .fab:hover {
    // color: orange;
    // background-color: #6c8089;
    // opacity: 0.8;
    // border: 1px solid #6c8089;
}

.attend-button, .contribute-button{
    color: orange !important;
    background-color: #6c8089 !important;
    border: 1px solid #6c8089;
}

.attend-button:hover, .contribute-button:hover{
    opacity: 0.8 !important;
    background-color: #FFF !important;
    color: #6c8089 !important;
    border: 1px solid #6c8089;
}


.socialbtns{

}

#new_attendance, #new_contribution_form{
  button{
    background-color: rgba(255,255,255,0);
    border: rgba(0,0,0,0.3);
    color: white;
    &:focus{
      border: none;
    }
  }

}

.icon-orange{
  color: #E67E22;
}

.icon-size-increase{
  font-size: 50px;
}

.footer-icon{
  color: white;
}

.icon-small{
  font-size: 15px;
}

.icon-big-black{
  font-size: 30px;
  color: black;
}
