.social_media_icon{
  height: 55px;
  width: 55px;
  display: inline-block;
}

.youtube-icon{
  background-image: asset-url("social-media-logos.png");
  background-position: 36% 95%;
}
.instagram-icon{
  background-image: asset-url("social-media-logos.png");
  background-position: 35% 2%;
}
.twitter-icon{
  background-image: asset-url("social-media-logos.png");
  background-position: 7% 2%;
}
.facebook-icon{
  background-image: asset-url("social-media-logos.png");
  background-position: 63% 2%;
}
