.wrapper {
  background-color: #f9f9f9;
  height: 400px;
}

.container {
  position: relative;
  height: 100%;
}

.desc-left {
  position: absolute;
  top: 50%;
  left: 30%;
  width: calc(100% - 30%);
}

.desc-right {
  position: absolute;
  top: 50%;
  left: 30%;
  width: calc(100% - 30%);
}

.left {
  width: 50%;
  position: relative;
  top: 45px;
  opacity: 0.4;
}

.right {
  width: 50%;
  position: relative;
  top: 45px;
  opacity: 0.4;
  left: 470px;
}

@media (max-width: 500px){
  .left {
    width: 70%;
  }
  .right {
    width: 70%;
  }
}

