body{
  background-color: whitesmoke;
}

li{
  list-style: none;
}



button:focus {outline:0 !important;}

input:focus, textarea:focus{
  border: 1px solid $orange !important;
}

.fullscreen-body{
  overflow-y: scroll;
}

.green{
  color: $green;
}
