body{
  background-color: white;
}

li{
  list-style: none;
}

.inline{
  display: inline-block;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

button:focus {outline:0 !important;}

input:focus, textarea:focus{
  border: 1px solid $orange !important;
}
